* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content:center;
    align-items:center;
}

.area-game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    height: 80%;
    width: 80%;
    gap: 10px;
}

.area-game div{
    background-color: #000;
    cursor: pointer;
    color: #fff;

    display: flex;
    justify-content:center;
    align-items:center;

    font-size: 3rem;
}